#header {
    height:6rem;
    width:100%;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 6rem;
    font-size:2rem;
    font-weight: 100;
    margin-bottom: 6rem;
}

#header #domain_path {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width:80%;
}

#header:hover {
    cursor: pointer;
}

#header:hover #domain_path #base {
    opacity: .5;
}
#header:hover img {
    top: 0;
    opacity:.5;
}

.list_item {
    padding-bottom:6rem;
}
.list_item .title {
    font-size: 3rem;
}

.hovered {
    text-decoration: underline;
    cursor: pointer;
}

img.hovered {
    opacity: .75;
}

.list_item .tags * {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.25rem;
}
.list_item .tag:hover {
    text-decoration: underline;
    cursor: pointer;
    
}

.list_item .date {
    font-size:1.25rem;
    color:#999;
}

table td{
    font-size:2rem;
    padding-right:4rem;
    padding-bottom:1rem;
}

table .data, table a {
    font-size:1.75rem;
}

.post .title {
    text-align: center;;
}
.post .date {
    text-align: center;
    color:#999;
    margin-bottom: 2rem;;
}