<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>badnoise - {{title}}</title>
    <link rel="icon" type="image/x-icon" href="../../res/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Varela+Round&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/hella.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/paper.css">
</head>
<body>
    <div class="grid">
        <nav class="row">
            <div class="column">
                <a href="../">badnoise/blog/</a>
            </div>
        </nav>
        <article>
            <header>
                <h1>{{title}}</h1>
                <time>{{date}}</time>
            </header>
            {{content}}
        </article>
    </div>
</body>
</html>