<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/blog.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/hella.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="vue_app">
        <div id="header" v-on:click="goBack()">
            <div class="grid">
                <div class="row">
                    <div class="column">
                        <span id="domain_path"><span id="base">{{activeRoute.base}}</span><span>{{ activeRoute.page }}</span></span>
                        <img src="../res/back_arrow.png" style="float:right; width:auto; height:2rem; margin-top:2rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row">
                <template v-if="atRoute('projects')">
                    <list-item class="list_item" v-for="project in projects" v-on:tag-click="onProjectTagClick" v-on:title-click="onProjectClick" v-bind:key="project.id" v-bind:link="project.link" v-bind:date="project.date" v-bind:id="project.id" v-bind:tags="project.tags" v-bind:image="project.image" v-bind:title="project.title"></list-item>
                </template>
                <template v-if="atRoute('contact')">
                    <h3>Jeremy Clark</h3>
                    <table>
                        <tr>
                            <td>location</td>
                            <td class="data">Burlington, ON</td>
                        </tr>
                        <tr>
                            <td>e-mail</td>
                            <td class="data">jeremyclark@live.ca</td>
                        </tr>
                        <tr>
                            <td>github</td>
                            <td class="data"><a href="https://github.com/CodeZombie">github.com/CodeZombie</a></td>
                        </tr>
                        <tr>
                            <td>linkedin</td>
                            <td class="data"><a href="https://www.linkedin.com/in/jeremy-clark-b6729611b/">linkedin.com/in/jeremy-clark-b6729611b/</a></td>
                        </tr>
                    </table>

                    
                </template>
            </div>
        </div>
    </div>
</body>
<script src="../js/app.js"></script>
</html>