<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>badnoise blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Varela+Round&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/hella.css">
</head>
<body>
    <div class="grid">
        <nav class="row">
            <div class="column">
                <a href="../">badnoise/</a>
            </div>
        </nav>
        <header>
            <h1>posts</h1>
        </header>
        <section id="blog_list"> 
            <ul>
                {{content}}
            </ul>
        </section>
    </div>
</body>
</html>