body {
	margin-bottom:2rem;
	background:#fafafa;
	color:#111;
	margin:0;
}

/* Splash page */

#header {
	background-image:url("../res/noise_02.png");
	background-size:contain;
	background-blend-mode: screen;
	height:200px;
}
#logo {
	margin:0 auto;
	max-width:760px;
	height:inherit;
	background-image:url("../res/logo.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}
/* media query modifiers */


#navbar {
	color: black;
	margin-bottom:8rem;
}
#navbar a{
	text-align: center;
	display:block;
	font-style: italic;
	line-height:64px;
	text-decoration:none;
	color:#000;
}

#bottombar {
	margin-top:4rem;
	background-image:url("../res/noise_02.png");
	height:8px;
	opacity:.8;
	width:100%;
}

@media (max-width: 480px){
	#navbar a {
	}
}
